<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("https://img.freepik.com/free-vector/abstract-green-background_698452-2499.jpg?semt=ais_hybrid");
            background-size: cover;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 20px;
        }
        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 30px;
        }
        .error-code {
            font-size: 4em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            border: 2px solid #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: white;
            transition: background-color 0.3s, color 0.3s;
        }
        a:hover {
            background-color: green;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-code">ERROR</div>
        <h1><%= message %></h1>
        <a href="/adminpanel">Return to Admin Log-In</a>
    </div>
</body>
</html>
