<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/stylesheets/admin.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="https://thumbs.dreamstime.com/b/admin-icon-vector-set-white-background-eps-admin-icon-isolated-white-background-332314149.jpg" alt="">
            </div>

            <span class="logo_name"> Mihir</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/adminpanel">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="/adminpanel/addblog">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Add Blogs</span>
                </a></li>
                <li><a href="/adminpanel/Contact">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Contact</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/logout">
                    <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
                </a></li>
            </li>

            </ul>
            
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <!-- <i class="uil uil-bars sidebar-toggle"></i> -->

            <!-- <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div> -->
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
          

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">CONTACT DETAILS</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">NAME</span>
                        <% CONTACT.map((val) => {%>
                            <span class="data-list"><%= val.name %></span>
                        <% }) %>
                    </div>
                    <div class="data joined">
                        <span class="data-title">EMAIL</span>
                        <% CONTACT.map((val) => {%>
                            <span class="data-list"><%= val.email %></span>
                        <% }) %>
                        </div>
                        <div class="data type">
                            <span class="data-title">MESSAGE</span>
                            <% CONTACT.map((val) => {%>
                                <span class="data-list"><%= val.message %></span>
                            <% }) %>
                        </div>
                        <div class="data status">
                            <span class="data-title">Status</span>
                            <% CONTACT.map((val) => {%>
                                <span class="data-list"><%= val.status %></span>
                            <% }) %>
                        </div>
                
                </div>
            </div>
        </div>
        
    </section>

    </script>
</body>
</html>